<div class="col-lg-6 mx-lg-auto mt-5">
  <div class="card shadow">
  <div class="card-header"><h2>Log in</h2></div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Username", class: "form-control p-2" %>
  </div>

  <div class="form-group mb-3">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control p-2" %>
  </div>


  <% if devise_mapping.rememberable? %>
    <div class="form-group mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "form-control btn btn-outline-secondary" %>
  </div>
<% end %>
    </div>
  </div>
</div>




