<h1>List of posts for a given user</h1>

<div>
  <div>
    <%= image_tag(@user.photo) %>
    <div>
      <h2><%= @user.name %></h2>
      <div>
        <p>Number of Posts: <%= @user.posts_counter%></p>
      </div>
    </div>
  </div>
</div>

<section>
  <% @posts.each do |post| %>
    <a href=<%= "/users/#{@user.id}/posts/#{post.id}" %>>
      <div>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>

        <div>
          <span>Comments: <%= "#{post.comments_counter || 0 }"%></span>
          <span>Likes: <%= "#{post.likes_counter || 0 }"%></span>
        </div>
      </div>
    </a>

    <div>
      <%= post.most_recent_comments.each_with_index do |comment, index| %>
        <div>
        <h2>Post #<%= index + 1 %></h2>
        <h4>
          <%= comment.author.name %>
        </h4>
        <p><%= comment.text %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</section>




