<h1>List of posts for a given user</h1>

<div class="d-flex align-items-center mb-3 gap-3 text-secondary-emphasis w-100">
  <div>
    <img src="<%= @user.photo %>" alt="user photo" class= "border border-5 profile-image">
  </div>
  <div class=" border border-5 w-100 p-1">
    <h2 class="flex-grow-1 p-2"> <%= @user.name %></h2>
    <div class="d-flex justify-content-end">
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
</div>

<section>
  <% @user.most_recent_posts.each do |post| %>
      <div class="border border-5 mx-auto w-100 p-3 mb-3">
        <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
        <p><%= post.text %></p>

        <div class="d-flex justify-content-between">
          <div>
            <%= form_with model: @like, url: user_post_likes_path(post_id: post.id) do |form| %>
              <%= form.submit "Like", class: "btn btn-outline-secondary"%>
            <% end %>
          </div>

          <div>
            <span>Comments: <%= "#{post.comments_counter || 0 }"%></span>
          <span>, Likes: <%= "#{post.likes_counter || 0 }"%></span>
          </div>

        </div>
      </div>

    <div class="border border-5 mx-auto w-100 p-3 mb-3">
      <h4 class="mb-3">Comments</h4>
      <% post.most_recent_comments.each do |comment| %>
        <div class="mb-3">
          <span><strong><%= comment.author.name %></strong>:</span>
          <span> <%= comment.text %></span>
        </div>  
      <% end %>
    </div>
    
  <% end %>
</section>

<div class="text-center mb-3">
  <% if @user.id == current_user.id %>
    <%= link_to "Create new post", new_user_post_path, class: "btn btn-outline-secondary" %>
  <% end %>
</div>




