<h1 class="mb-3">Single post to a given user</h1>

<section>
  <div class="border border-5 mx-auto w-100 p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center p3">
      <h2>
      <%= @post.title %> <strong>by</strong> <%= @post.author.name %>
      </h2>
      <div>
        <span>Comments: <%= @post.comments_counter %></span>
        <span>, Likes: <%= @post.likes_counter %></span>
      </div>
    </div>

    <div>
      <p> <%= @post.text %></p>
    </div>
  </div>

  <div class="border border-5 p-3">
    <h3>Comments:</h3>
    <% @post.most_recent_comments.each do |comment| %>
      <div class=" mb-3 p-3">
      <span><strong><%= comment.author.name %></strong>:</span>
      <span><%= comment.text %></span>
      </div>
    <% end %>
  </div>

  <div>
    <h3>Add a comment: </h3>
      <%= form_with model: @comment, url: user_post_comments_path(post_id: @post) do |form| %>
      <div>
        <%= form.text_area :text, placeholder: "Add comment", class: "form-control"%>
      </div>
      <%= form.submit "Add Comment", class: "btn btn-outline-secondary m-2" %>
    <% end %>
  </div>
</section>

